<div class="container">
	<h3 class="mini-titulo-como-contribuir">¿COMO CONTRIBUIR?</h3>
</div>

<section class="comocontribuir-banner small-banner">
</section>

<div class="container texto-como-contribuir container-padding">
	<p>Las condiciones de pobreza extrema dificultan mucho el acceso a la educación y al trabajo formal ocasionando una “discapacidad” creando brechas de desigualdad social, económica, educativas y laborales.</p>

	<p>En <strong>SEAMOS TODOS</strong> proponemos acotar esta brecha, para que las personas que enfrentan estas dificultades puedan tener acceso a oportunidades sociales.</p>

	<p>Para seguir logrando nuestros objetivos tu participación es importante!</p>


	<p>Apoya a <strong>SEAMOS TODOS</strong> de las siguientes maneras</p>
	
	<div class="row">
		<div class="col-sm-6">
			<ul class="como-contribuir-list">
				<li>Becando un niño</li>
					<li>Aportación económica
						<ul class="como-contribuir-list"><li>Contamos con recibos deducibles </ul></li>
					</li>
				<li>Banco de alimentos</li>
				<li>Donación de ropa</li>
				<li>Artículos de limpieza para niños</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="como-contribuir-list">
				<li>Trabajo para mejoras en estructuras del edificio.</li>
				<li>Material didáctico</li>
				<li>Equipo para gimnasio neuromotor</li>
				<li>mobiliario escolar</li>
				<li>Voluntariado</li>
				<li>Servicio Social</li>
			</ul>
		</div>
	</div>

	<div class="contribuir-purple-line"></div>
</div>

<section class="quote">
	<div class="container">
		<div class="col-sm-push-2 col-sm-8">
			<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>Proponemos la educación y el trabajo como herramientas importantes de crecimiento personal y familiar, sumándose al desarrollo social y al crecimiento económico de nuestra comunidad.</p>
				<p class="author"><%= image_tag("comillas_der.png", class: "comillas-der")%></p>
		</div>
	</div>
</section>


