<div class="container">
	<h3 class="mini-titulos">¿COMO CONTRIBUIR?</h3>
</div>

<section class="comocontribuir-banner">
</section>

<div class="container texto-como-contribuir">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat imperdiet nulla. Praesent congue vehicula risus, sit amet malesuada purus rhoncus sit amet. Sed molestie lectus ante, et feugiat augue commodo nec.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat imperdiet nulla. Praesent congue vehicula risus, sit amet malesuada purus rhoncus sit amet. Sed molestie lectus ante, et feugiat augue commodo nec.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat imperdiet nulla. Praesent congue vehicula risus, sit amet malesuada purus rhoncus sit amet. Sed molestie lectus ante, et feugiat augue commodo nec.</p>

	<div class="contribuir-purple-line"></div>
</div>

<section class="quote">
	<div class="container">
		<div class="col-sm-push-2 col-sm-8">
			<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>La educación es algo admirable, pero esta bien recordad de vez en cuando que nada que merzca la pensa saber puede ser enseñado</p>
				<p class="author">- Oscar Wilde <%= image_tag("comillas_der.png", class: "comillas-der")%></p>
		</div>
	</div>
</section>