<section class="banner-home">
</section>

<div class="container text">

	<h2>SEAMOS TODOS</h2>
	<p>Tiene la misión de contribuir en la formación de familias funcionales, de lograr la equidad de género en la constitución de mujeres valiosas constructoras de un futuro personal prometedor con la certeza que serán agentes de cambio que promuevan el bienestar y desarollo de su familia y comunidad, marcando un paradigma entre el hoy el mañana en el crecimiento humano y de valores de presentes y futuras generaciones que nuestra sociedad con urgencia necesita.</p>

	<div class="small-purple-line"></div>

</div>


<section class="small-banner">
</section>

<div class="container">
	<div class="row">
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("ventagrande.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("ventagrande.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>

				<div class="valores-purple-line"></div>
			</div>
		</div>
		<div class="col-sm-4 valores">
			<div>
				<%= image_tag("ventagrande.png")%>

				<h3>MISIÓN</h3>
				<p>Brindar Atención Integral al menor y a su familia para promover su educación y valores y así conseguir una integración exitosa en la sociedad.</p>
				<div class="valores-purple-line"></div>
			</div>
		</div>
	</div>
</div>

<section class="quote">
	<div class="container">
		<div class="row">
			<div class="col-sm-push-2 col-sm-8">
				<p class="sentence"><span>"</span>La eduación es el arma más poderosa que puedes usar para cambiar el mundo.</p>
				<p class="author">- Nelson Mandela <span>"</span></p>
			</div>
		</div>
	</div>
</section>


