<div class="container programa-social-2 container-padding">
	<h3 class="mini-titulos-programa-social-primero">PROGRAMA SOCIAL 1</h3>

	<p class="big-text">Programa de educación, alimentación y resiliencia</p>

	<h3 class="mini-titulos-programa-social">OBJETIVO GENERAL</h3>

	<p>Favorecer el desarollo integral de niños y niñas en condiciones de alto riesgo.</p>

	<h3 class="mini-titulos-programa-social">OBJETIVOS ESPECIFICOS</h3>

	<ul class="programa-social-list">
		<li>Prevenir trastornos en su área psicosocial.</li>
		<li>Trabajar cuestiones psicológicas y físicas que interfieran con su adecuado desarollo.</li>
		<li>Atender necesidades básicas de Educación, Salud y Alimentación.</li>
		<li>Aplicar con ellos el programa de RESILIENCIA.</li>
	</ul>

	<div class="programa-social-purple-line"></div>
</div>

<section class="programa-social-banner small-banner">
</section>

<section class="quote">
	<div class="container">
		<div class="row">
			<div class="col-sm-push-2 col-sm-8">
				<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>Los seres humanos, de hecho todos los seres vivientes, tienen el derecho de perseguir la felicidad y vivir en paz y libetad.</p>
				<p class="author">- Dalai Lama <%= image_tag("comillas_der.png", class: "comillas-der")%></p>
			</div>
		</div>
	</div>
</section>

<div class="container programa-social container-padding">
	<h3 class="mini-titulos-programa-social-primero">PROGRAMA SOCIAL 2</h3>

	<p class="big-text">Inclusión de la mujer en condiciones de pobreza a programas de educación, profesionalización y trabajo formal</p>

	<h3 class="mini-titulos-programa-social">OBJETIVO GENERAL</h3>

	<p>Impulsar el desarollo social y conómico de nuestra comunidad a través de la atención a mujeres madres de familia en situación de vulnerabilidad incluyéndolas en programas de educación y profesionalización y desarollo personal.</p>

	<h3 class="mini-titulos-programa-social">OBJETIVOS ESPECIFICOS</h3>

	<ul class="programa-social-list">
		<li>Emplear la Educación y el Trabajo como medios para fortalecer a la mujer y su familia erradicando de forma significativa la delicuencia, hambre, analfabetismo, violencia y marginación en nuestra sociedad.</li>
		<li>Ofrecer apoyo en su constitución y superación personal creando su empoderamiento que le permitirá participar activamente en cambios familiares y sociales.</li>
		<li>Contribuir en la formación de familias funcionales donde al educación, equidad de género y trabajo favorezcan el éxito personal, familiar, laboral y social.</li>
	</ul>

	<div class="programa-social-purple-line"></div>
</div>



<section class="programa-social-banner-2 small-banner">
</section>

<section class="quote">
	<div class="container">
		<div class="row">
			<div class="col-sm-push-2 col-sm-8">
				
				<p class="sentence"><%= image_tag("comillas_izq.png", class: "comillas-izq")%>La educación es algo admirable, pero esta bien recordad de vez en cuando que nada que merzca la pensa saber puede ser enseñado</p>
				<p class="author">- Oscar Wilde <%= image_tag("comillas_der.png", class: "comillas-der")%></p>
				
			</div>
		</div>
	</div>
</section>