// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Used in every view */

body {
	font-size: 16px !important;
}

$primary-purple: #7F3F98;
$secondary-purple: #836C8E;

.quote {
	color:#fff;
	background-color: #803E98;
	font-size: 22px;
	text-align: center;
	padding: 20px 0px;

	& span {
		font-size: 60px;
	}
}

.comillas-izq {
	margin-right: 30px;
	margin-bottom: 40px;
}

.comillas-der {
	margin-left: 30px;
	margin-bottom: 40px;
}

.sentence {
}

.author {
	text-align: right;
}

.banner-home {
	background: image-url('h_banner.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 500px;
}

.small-banner {
	background: image-url('h_bannerchico.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 330px;
}

/* HEADER */

.the-navbar {
	margin-bottom: 10px !important;
	border-radius: 0px !important;
	background-color: #fff;
	color:$primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.navbar-nav {

	position: absolute;
	right: 50px;
	bottom: 0;

	 & a {
	 	color:$primary-purple;
	 	border-right: 2px solid $primary-purple;

	 	&:hover {
	 		color:#fff;
	 		background-color: $secondary-purple !important;
	 	}
	 }
}

.navactive {
	background-color: $secondary-purple;

	& a  {
		color:#fff;
	}
}

.the-mail {
	position: absolute;
	color: purple;
	right: 25px;
	top: 10px;
}

.navbar-toggle {
	position: absolute !important;
	right: 0px;
	top: 20px;
}

.navbar-toggle > .icon-bar {
	background-color: #000 !important;
}

/* FOOTER */

.footer {
	background-color: #000;
	padding: 25px 0px;
	color:#fff;
}

.links > a {
	margin-left: 20px;
	color:#fff;
}

/* INICIO */

.text {
	text-align: center;
	padding: 50px 0px;

	& p {
		padding: 25px 275px;
	}
}

.small-purple-line {
	width: 300px;
	height: 20px;
	background-color: purple;
	display: block;
	margin: 0px auto;
}

.valores {

	margin: 50px 0px;

	& > div {
		border:1px solid purple;
		padding: 40px 30px 0px 30px;
	}

	& h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	& img {
		display: block;
		margin: 0px auto;
	}
}

.valores-purple-line {
	width: 90%;
	height: 15px;
	background-color: $secondary-purple;
	display: block;
	margin: 40px auto 0px auto;
}

.carousel {
	height: 300px;
}

.glyphicon-chevron-left, .glyphicon-chevron-right  {
	color: black !important;
}

.carousel {
	text-align: center;
}

.carousel-control {
	background-image: none !important;
}

.carousel-indicators li{
	border: 1px solid purple !important;
}

.carousel-indicators .active {
	background-color: purple !important;
}

.carousel-purple-line {
	width: 90%;
	height: 15px;
	background-color: purple;
	bottom:0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.carousel-wrapper {
	margin: 50px 0px;
}

.carousel {
	border: 4px solid purple;
	position: relative;
}

/* NOSOTROS */

.mini-titulos {
	margin: 50px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.nosotros-first-col {
	background: image-url('historia.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 300px;
}

.nosotros-banner {
	background: image-url('b_historia.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 400px;
}

/* ¿COMO CONTRIBUIR? */

.comocontribuir-banner {
	background: image-url('b_comocontribuir.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 350px;
}

.texto-como-contribuir {
	margin: 50px 0px;

	& p {
		padding:10px 0px;
	}
}

/* PROGRAMA SOCIAL */

.programa-social-list {
	& > li {
		margin: 30px 0px;
	}
}

.programa-social-banner {
	background: image-url('b_preguntas1.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 350px;
	margin-top: 50px;
}

.programa-social-banner-2 {
	background: image-url('b_preguntas2.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 350px;
	margin-top: 50px;
}

/* CONTACTO */

.contacto {
	background-color: #E8E8E8;
}

/* @medias */

@media only screen and(max-width:767px) {

	.navbar-nav {
		position: relative;
		right: auto;
		bottom: auto;
		text-align: center;

		& a {
			border-right: none;
		}
	}
}

