// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Used in every view */

/* Tipografías

	Monserrat - Menú y Títulos
	Josefin - Contenido y Frases

*/

$primary-purple: #7F3F98;
$secondary-purple: #836C8E;

body {
	font-size: 18px !important;
	font-family: 'Josefin Sans', sans-serif !important;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif !important;
	color: $primary-purple !important;
}

p {
	color: $secondary-purple;
}


.container-padding {
	padding-top: 80px;
	padding-bottom: 80px;
}


.quote {
	background-color: #803E98;
	font-size: 22px;
	text-align: center;
	padding: 80px 0px;
	font-family: 'Josefin Sans', sans-serif;

	& p {
		color:#fff;
		font-weight: bold;
	}

	& span {
		font-size: 60px;
	}
}

.comillas-izq {
	margin-right: 20px;
	margin-top: -30px;
}

.comillas-der {
	margin-left: 20px;
	margin-top: -30px;
}

.author {
	text-align: right;
}

.small-banner {
	background: image-url('h_bannerchico.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 330px;
}

/* HEADER */

.the-navbar {
	margin-bottom: 10px !important;
	border-radius: 0px !important;
	background-color: #fff;
	color:$primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.navbar-nav {

	position: absolute;
	right: 50px;
	bottom: 0;

	 & a {
	 	color:$primary-purple;
	 	border-right: 2px solid $primary-purple;

	 	&:hover {
	 		color:#fff;
	 		background-color: $secondary-purple !important;
	 	}
	 }
}

.navbar-nav > li > a {
	padding: 8px 25px !important;
}

.navactive {
	background-color: $secondary-purple;

	& a  {
		color:#fff;
	}
}

.the-mail {
	position: absolute;
	color: purple;
	right: 25px;
	top: 10px;
}

.navbar-toggle {
	position: absolute !important;
	right: 0px;
	top: 20px;
}

.navbar-toggle > .icon-bar {
	background-color: #000 !important;
}

/* FOOTER */

.footer {
	background-color: #000;
	padding: 25px 0px;
	color:#fff;
}

.links > a {
	margin-left: 20px;
	color:#fff;
}

/* INICIO */

.banner-home {
	background: image-url('h_banner.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 500px;
	position: relative;
}

.home-sentence-wrapper {
	background-color: $secondary-purple;
	padding: 15px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin-bottom: 50px;
	margin-right: 50px;
}

.home-sentence {
	color:#fff !important;
	margin: 0px;
	margin-left: 50px;
}

.text {
	text-align: center;
	padding: 80px 0px;

	& p {
		padding: 25px 275px;
	}
}

.small-purple-line {
	width: 300px;
	height: 20px;
	background-color: $secondary-purple;
	display: block;
	margin: 0px auto;
}

.valores-row {
	padding:80px 0px;
}

.valores {
	height: 343px;

	& > div {
		border:1px solid purple;
		padding: 40px 30px 0px 30px;
		height: 100%;
	}

	& h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	& img {
		display: block;
		margin: 0px auto;
	}

	& p {
		line-height: 25px;
		color:$secondary-purple;
	}
}

.valores-purple-line {
	width: 75%;
	height: 15px;
	background-color: $secondary-purple;
	position: absolute;
	left: 0;
	right: 0;
	margin: 40px auto 0px auto;
	bottom: 0px;
}

.carousel {
	height: 300px;
}

.glyphicon-chevron-left, .glyphicon-chevron-right  {
	color: black !important;
}

.carousel {
	text-align: center;
}

.carousel-control {
	background-image: none !important;
}

.carousel-indicators li{
	border: 1px solid purple !important;
}

.carousel-indicators .active {
	background-color: purple !important;
}

.carousel-purple-line {
	width: 90%;
	margin: 40px auto;
	height: 15px;
	background-color: $secondary-purple;
}

.carousel-wrapper {
	margin: 50px 0px;
}

.carousel {
	border: 4px solid purple;
	position: relative;
}

/* NOSOTROS */

.mini-titulos {
	margin: 0px 0px 50px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.nosotros-first-col {
	background: image-url('historia.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 320px;
}

.historia {

	& > div:nth-child(2) p {
		padding:0px 15px;
	}
}

.nosotros-purple-line {
	width: 75%;
	height: 15px;
	background-color: $secondary-purple;
	position: absolute;
	left: 0;
	right: 0;
	margin: 60px auto 0px auto;
}

.mini-titulo-objetivos {
	margin: 0px 0px 50px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.objetivos {
	height: 337px;

	& > div {
		border:1px solid purple;
		padding: 40px 30px 0px 30px;
		height: 100%;
	}

	& img {
		display: block;
		margin: 0px auto;
	}

	& p {
		padding: 40px 10px;
		line-height: 25px;
		color:$secondary-purple;
	}
}

.nosotros-banner {
	background: image-url('b_historia.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 400px;
}

/* ¿COMO CONTRIBUIR? */

.mini-titulo-como-contribuir {
	margin: 50px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.comocontribuir-banner {
	background: image-url('b_comocontribuir.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 350px;
}

.texto-como-contribuir > p{
	padding:10px 0px;
}

.contribuir-purple-line {
	width: 100%;
	height: 15px;
	background-color: $secondary-purple;
	margin: 25px auto 0px auto;
}

.como-contribuir-list {

	color:$secondary-purple;

	& > li{
		list-style-type: none;
	}

	& > li:before {
		content:"•";
		color:$secondary-purple;	
		font-size: 20px;
	}
}

.marco-teorico {
	display: block;
	margin:0px auto;
	width: 90%;
}

.marco-teorico-purple-line {
	width: 90%;
	height: 15px;
	background-color: $secondary-purple;
	margin: 50px auto 75px auto;
}

/* PROGRAMA SOCIAL */
.programa-social {
	position: relative;
}

.big-text {
	font-size: 24px;
	color: #000;
	font-family: 'Montserrat', sans-serif !important;
}

.programa-social-2 {
	position: relative;
}

.mini-titulos-programa-social-primero {
	margin: 0px 0px 20px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.mini-titulos-programa-social {
	margin: 40px 0px 20px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.programa-social-list {

	padding-left: 0px;
	& > li{
		margin: 30px 0px;
		list-style-type: none;
	}

	& > li:before {
		content:"•";
		color:$secondary-purple;	
		font-size: 20px;
	}
}

.programa-social-purple-line {
	width: 90%;
	height: 15px;
	background-color: $secondary-purple;
	margin: 0px auto 0px auto;
}

.programa-social-banner {
	background: image-url('b_preguntas1.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 350px;
}

.programa-social-banner-2 {
	background: image-url('b_preguntas2.jpg') no-repeat center center !important;
	background-size: cover !important;
	height: 350px;
}

/* CONTACTO */

.mini-titulos-contacto {
	margin: 50px 0px 50px 0px;
	color: $primary-purple;
	font-family: 'Montserrat', sans-serif;
}

.contacto {
	background-color: #E8E8E8;
	padding: 50px 0px 0px 0px;
}

.info-contact {
	padding-bottom: 50px;
}

.input-tag {
	margin-top: 10px;
	color: $secondary-purple;
}

.contact-input {
	width: 100%;
	border: 2px solid $secondary-purple;
	background-color:#E8E8E8;
}

.thebutton {
	width: 100%;
	margin-top: 25px;
	padding: 10px;
	background-color: $secondary-purple;
	border:none;
	color:#fff;
}

.contact-icon {
	display: inline-block;
    vertical-align: middle; 
}

.contact-text {
	display: inline-block;
    vertical-align: middle; 
    margin-bottom: 0px;
}

.image-text {
	margin: 15px 0px;
}

#googleMap {
	height: 500px;
}

.contacto-purple-line {
	width: 80%;
	height: 20px;
	background-color: $secondary-purple;
	display: block;
	margin: 50px auto 100px auto;
}

/* @medias */

@media only screen and(max-width: 1200px) {

	.home-sentence {
		line-height: 30px;
		margin-left: 0px;
	}

	.nosotros-purple-line {
		margin-top: 10px;
	}

	.valores {
		height: 393px;
	}

	.objetivos {
		height: 362px;
	}

	.text > p {
		padding: 25px 200px;
	}
}

@media only screen and(max-width: 991px) {

	.nosotros-first-col {
		height: 385px;
	}

	.nosotros-purple-line {
		margin-top: 0px;
	}

	.valores {
		height: 468px;
	}

	.objetivos {
		height: 490px;
	}

	.text > p {
		padding: 25px 150px;
	}
}

@media only screen and(max-width:767px) {

	.objetivos-row {

		& > div:nth-child(2) {
			margin-top:50px;
		}

		& > div:nth-child(3) {
			margin-top: 50px;
		}
	}

	.nosotros-first-col {
		height: 300px;
	}

	.historia {
		margin-bottom: 85px;

		& > div:first-child {
			margin:0px 15px;
		}

		& > div:nth-child(2) {
			padding: 15px;
		}

	}

	.nosotros-purple-line {
		margin-top: 40px;
	}

	.valores {
		height: auto;

		& p {
			margin-bottom: 35px;
		}
	}

	.objetivos {
		height: auto;
	}

	.text > p {
		padding: 25px 100px;
	}

	.navbar-nav {
		position: relative;
		right: auto;
		bottom: auto;
		text-align: center;

		& a {
			border-right: none;
		}
	}
}

@media only screen and(max-width: 500px) {

	.text > p {
		padding: 25px;
	}
}

